{{#each blogs as |blog| }}
<div class="container blog-style">
  <a href="/api/blog/{{blog.id}}" id="blog-name">{{blog.name}}</a> 
  <p id="date-created">Created on <span>{{blog.date_created}}</span></p>
</div>
{{/each}}