<div class="col-md-6">
  <h2>Create An Account</h2>

  <form class="form signup-form">
    <div class="form-group">
      <label for="name-signup">Name:</label><br>
      <input class="form-input" type="text" id="name-signup" />
    </div>
    <div class="form-group">
      <label for="email-signup">E-mail:</label><br>
      <input class="form-input" type="text" id="email-signup" />
    </div>
    <div class="form-group">
      <label for="password-signup">Password:</label><br>
      <p>(Must contain 8+ characters)</p>
      <input class="form-input" type="password" id="password-signup" />
    </div>
    <div class="form-group">
      <button class="btn btn-primary" type="submit">Sign Up</button>
    </div>
    <a href="/login">Already Registered?</a>
  </form>
</div>

<script src="./js/signup.js"></script>